*
{
  margin: 0;
  padding: 0;
  border: 0;
}

a
{
  text-decoration: none;
  color: black;
}

header
{
  background-color: white;
  width: 100%;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 5px solid black;
}

.header_div
{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18pt;
  color: black;
  
}

#personal_logo
{
  width: 6.5vw;
}

main
{
  position: fixed;
  background-color: white;
  width: 100%;
  height: 85vh;
}

#headshot
{
  height: 30vh;
  width: auto;
  border-radius: 50%;
  box-shadow: 10px 50px 100px 5px black;
  border: 5px solid black;
  justify-self: center;
  align-self: center;
}

#home_background
{
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100vh;
}

.main_top_div
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.main_name_text
{
  justify-self: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40pt;
  text-shadow: 2px 11px 20px #000000
}

#about_main
{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#stare
{
  border-right: 5px solid black;
}

.about_right_main
{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.about_text_tile
{
  background-color: rgb(3, 107, 252);
  width: 70%;
  height: 60%;
  margin-bottom: 3vh;
  border-radius: 1%;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 10px 16px 0px rgba(50, 50, 50, 0.5);
  padding: 3%;
}

.about_text_tile_text
{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
  line-height: 15pt;
}

#about_text_spacer
{
  height: 3vh;
  width: 100%;
}

.port_main
{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.card_container
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 5vh;
  grid-column-gap: 5vh;
  justify-items: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-bottom: 19%;
}

.card
{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  width: 25vh;
  height: 15vw;
  background-color: rgb(3, 107, 252);
  box-shadow: 0px 10px 16px 0px rgba(50, 50, 50, 0.5);
}

.port_text
{
    font-family: 'Josefin Sans', sans-serif;
}
 .card h3
 {
   font-family: 'Josefin Sans', sans-serif;
   color: white;
 }