*
{
  margin: 0;
  padding: 0;
  border: 0;
}

a
{
  text-decoration: none;
  color: black;
}

header
{
  background-color: white;
  width: 100%;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 5px solid black;
}

.header_div
{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18pt;
  color: black;
}

#personal_logo
{
  width: 6.5vw;
}

main
{
  position: fixed;
  background-color: black;
  width: 100%;
  height: 85vh;
}

#headshot
{
  height: 30vh;
  width: auto;
  border-radius: 50%;
  box-shadow: 10px 50px 100px 5px black;
  border: 5px solid black;
  justify-self: center;
  align-self: center;
}

#home_background
{
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100vh;
}

.main_top_div
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.main_name_text
{
  justify-self: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40pt;
  text-shadow: 2px 11px 20px #000000
}